<h2 class="text-center"> <b>Lernmodus-Einstellungen</b> </h2>

<div class="container">

    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
        <!-- questionType -->
        <div 
            class="form-group"
        >
            <label class="col-sm-4 control-label" for="select-questionType">Wählen Sie Fragentypen aus: </label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="questTypeId"                
            >
                <option
                    *ngFor="let qt of questionTypes"
                    [value]="qt.id"
                >
                    {{ qt.name }}
                </option>
            </select>
        </div>

        <!-- Fragenanzahl -->
        <div 
            class="form-group"
        >
            <label class="col-sm-4 control-label" for="questionNumber">Fragenanzahl: </label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="questNumber"
            >
                <option
                    *ngFor="let qn of questionNumbers"
                    [value]="qn"
                >
                    {{ qn }}
                </option>
            </select>
        </div>
        
        <!-- Navigation -->
        <button
            type="submit"
            class="btn btn-success btn-lg btn-block"
            [disabled]="form.invalid"
        >
            Zum Lernmodus
        </button>
    </form>

</div>
