<h2 class="text-center"> <b>Lernmodus-Einstellungen</b> </h2>

<div class="container">

    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
         <!-- Fragenpull -->
         <div 
         class="form-group"
     >
         <label class="col-sm-4 control-label" for="questionsPull">Fragen:</label>
         <select 
             class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
             formControlName="questionsPull"
             (change)="onChangePull()"
         >
             <option
                 *ngFor="let qp of questionsPull"
                 [value]="qp.id"
             >
                 {{ qp.name }}: {{ qp.count }} Fragen
             </option>
         </select>
     </div>

         <!-- Fragenanzahl -->
        <div 
            class="form-group"
        >
            <label class="col-sm-4 control-label" for="questionCount">Anzahl:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="questCount"
                (change)="onChangeCount()"
            >
                <option
                    *ngFor="let qc of questionCounts"
                    [value]="qc"
                >
                    {{ qc }} Fragen
                </option>
            </select>
        </div>

        
        <!-- Seitennummer 
        <div 
        class="form-group"
        >
            <label class="col-sm-4 control-label" for="pageNumber">Seitennummer:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="pageNumber"
            >
                <option
                    *ngFor="let pn of pageNumbers"
                    [value]="pn"
                >
                    {{ pn }}
                </option>
            </select>
        </div>
-->
        <!-- Seitens -->
        <div 
        class="form-group"
        >
            <label class="col-sm-4 control-label" for="page">Seiten:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="page"
            >
                <option
                    *ngFor="let p of pages"
                    [value]="p.num"
                >
                    {{ p.name }}
                </option>
            </select>
        </div>
        
        <!-- Navigation -->
        <div class="d-grid gap-2">
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
            >
                Zum Training
            </button>
        </div>
    </form>

</div>
