<h2 class="text-center"> <b>Lernmodus-Einstellungen</b> </h2>

<div class="container">

    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
        <!-- Fragentyp
        <div 
            class="form-group"
        >
            <label class="col-sm-4 control-label" for="select-questionType">Fragentypen:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="questTypeId" 
                (change)="onChange()"               
            >
                <option
                    *ngFor="let qt of questionTypes"
                    [value]="qt.id"
                >
                    {{ qt.name }}
                </option>
            </select>
        </div>
         -->

         <!-- Fragenanzahl -->
        <div 
            class="form-group"
        >
            <label class="col-sm-4 control-label" for="questionCount">Fragenanzahl:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="questCount"
                (change)="onChange()"
            >
                <option
                    *ngFor="let qc of questionCounts"
                    [value]="qc"
                >
                    {{ qc }}
                </option>
            </select>
        </div>

        
        <!-- Seitennummer -->
        <div 
        class="form-group"
        >
            <label class="col-sm-4 control-label" for="pageNumber">Seitennummer:</label>
            <select 
                class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                formControlName="pageNumber"
            >
                <option
                    *ngFor="let pn of pageNumbers"
                    [value]="pn"
                >
                    {{ pn }}
                </option>
            </select>
        </div>
        <!-- Navigation -->
        <div class="d-grid gap-2">
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
            >
                Zum Training
            </button>
        </div>
    </form>

</div>
