<h2 class="text-center"> <b>Lernmodus</b> </h2>

<!-- Fragestellung und Info -->
<div class="container">
    <div class="row">
        <div class="col-md-8 bg-info">
            <div>
                <h6> <b>Frage Nr. {{ aktFrage.frageId }}</b> </h6>
            </div>
            <div>
                <p style="font-size: 1.3rem;">{{ aktFrage.frageText }}</p>
            </div>
        </div>
        <div class="col-md-4 bg-success">
            <h6 class="text-center"> <b>INFORMATION</b> </h6>
            <p class="text-center">Frage {{ aktNummer + 1 }} / {{ fragen.length }} </p>
            <p class="text-center">Falsch beantwortet: {{ falsch }} / {{ fragen.length }} </p>
            <p class="text-center">Richtig beantwortet: {{ richtig }} / {{ fragen.length }} </p>
            <p class="text-center">Unbeantwortet: {{ unbeantworten }} / {{ fragen.length }} </p>
        </div>
    </div>
</div>
<hr>

<!-- Antwortbereich -->
<div class="container bg-warning">
        <br>
        <div *ngFor="let a of aktFrage.antworten">

            <!-- MCF -->
            <div class="checkbox" *ngIf="aktFrage.frageTyp==='MC'">
                <span *ngIf="!pruef">
                    <input  type="checkbox" *ngIf="a.gegebeneAntwort" checked (click)="a.gegebeneAntwort=!a.gegebeneAntwort">
                    <input  type="checkbox" *ngIf="!a.gegebeneAntwort" unchecked (click)="a.gegebeneAntwort=!a.gegebeneAntwort">
                    <span>{{a.antwortText}} </span>
                </span>

                <span *ngIf="pruef">
                    <input  type="checkbox" *ngIf="a.gegebeneAntwort" checked (click)="a.gegebeneAntwort=!a.gegebeneAntwort">
                    <input  type="checkbox" *ngIf="!a.gegebeneAntwort" unchecked (click)="a.gegebeneAntwort=!a.gegebeneAntwort">
                    <span *ngIf="a.istRichtig" [ngClass]="{richtig:true}">{{a.antwortText}}</span>
                    <span *ngIf="!a.istRichtig && a.gegebeneAntwort" [ngClass]="{fehler:true}">{{a.antwortText}}</span>
                    <span *ngIf="!a.istRichtig && !a.gegebeneAntwort">{{a.antwortText}}</span>
                </span>
            </div>

            <!-- SCF -->
            <div class="radio" *ngIf="aktFrage.frageTyp==='SC'">
               
                <span *ngIf="!pruef">
                    <input  type="radio" name="a.gegebeneAntwort" *ngIf="a.gegebeneAntwort" checked>
                    <input  type="radio" name="a.gegebeneAntwort" *ngIf="!a.gegebeneAntwort" unchecked (click)="loeschen(); a.gegebeneAntwort=!a.gegebeneAntwort">
                    <span>{{a.antwortText}} </span>
                </span>

                <span *ngIf="pruef">
                    <input  type="radio" name="a.gegebeneAntwort" *ngIf="a.gegebeneAntwort" checked>
                    <input  type="radio" name="a.gegebeneAntwort" *ngIf="!a.gegebeneAntwort" unchecked (click)="loeschen(); a.gegebeneAntwort=!a.gegebeneAntwort">
                    <span *ngIf="a.istRichtig" [ngClass]="{richtig:true}">{{a.antwortText}} </span>
                    <span *ngIf="!a.istRichtig && a.gegebeneAntwort" [ngClass]="{fehler:true}">{{a.antwortText}}</span>
                    <span *ngIf="!a.istRichtig && !a.gegebeneAntwort">{{a.antwortText}}</span>
                </span>
            </div>

        </div>

         <!-- FIF -->
        <div *ngIf="aktFrage.frageTyp==='FI'">
            <span *ngIf="!pruef">
                <label>Ihre Antwort: </label>
                <input type="text" [(ngModel)]="aktFrage.antwort.gegebeneAntwort">
            </span>
            
            <span *ngIf="pruef">
                <label>Ihre Antwort: </label>
                <input type="text" 
                    class="{{antwClass()}}"
                    [(ngModel)]="aktFrage.antwort.gegebeneAntwort">
                <br>
                <span class="richtig"><b>Eine der richtigen Antworten ist: {{aktFrage.antwort.antwortText[0]}} </b></span>
            </span>
           
        </div>
        <br>

</div>
<hr>

<!-- Hilfe -->
<div class="container bg-info" *ngIf="zeig">
    <p>{{ aktFrage.hilfe }} </p>
</div>


<!-- Navigation -->
<div class="container">  
    <button class="btn btn-success" (click)="zurueck()" [disabled]="aktNummer == 0">
        Zurück
    </button>
    <button class="btn btn-info" (click)="home()">
        Home
    </button>
    <button class="btn btn-success" (click)="weiter()" [disabled]="nextDis">
        Weiter
    </button>
    <button class="btn btn-info" (click)="zeigHilfe()">
        Hilfe
    </button>
    <button class="btn btn-info" (click)="pruefen()">
        Richtige Antwort
    </button>
</div>